@charset "utf-8"

$primary: #14c025

@import "bulma/bulma"
@import './collapsible'
@import "./calpicker"

@media screen and (min-width: 1216px)
  .text-content
    font-size: 1.125rem

@media screen and (min-width: 1800px)
  .text-content
    font-size: 1.25rem

@media screen and (min-width: 769px), print
  .field-label.is-wide
    flex-grow: 3

.is-rounded
  border-radius: 6px

.datetimepicker-dummy.is-primary .datetimepicker-clear-button,
.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today
  color: $primary

  
.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today
  border-color: $primary

.datetimepicker-dummy.is-primary .datetimepicker-dummy-wrapper::before, 
.datetimepicker-dummy.is-primary .datetimepicker-dummy-wrapper:before,
.datetimepicker-dummy.is-primary::before,
.datetimepicker-dummy.is-primary:before,
.datetimepicker.is-primary .datepicker-nav,
.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active
  background-color: $primary

.datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input
  cursor: pointer
  width: 125px
